/* Main.css */

html, body {
  height: 100%;
}

.grid-container {
  min-height: 100%;
  margin: 0 auto -12em;
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 3em;
    color: #EE0000;
    background-image: url("jt_logo_dark_red_830px.png");
    text-indent: -5000px;
    display: block;
    width: 400px;
    margin: auto;
    height: 170px;
    background-repeat: no-repeat;
    background-size: 400px;
}

label {
  display: none;
}

h2 {
  font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
  font-size: 1.3rem;
}

h4 {
  margin-bottom: 2rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
strong {
  font-weight: bold;
}

td {
  padding:  0.5rem 0;
  font-weight: normal;
}
th {
  text-align: left;
}

.width-30 {
  width: 30%;
}

.button {
  width: 30%;
  max-width: 100px;
  background-color: #ccc;
}

.email {
  width: 60%;
}

.center {
  text-align: center;
}

.left {
  margin: 0px auto;
  max-width: 600px;
}

.left h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.left p, .left pre {
  font-family: sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.left pre {
  font-size: 0.9rem;
}

.left ul li {
  font-family: sans-serif;
  list-style: disc;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

#mc_embed_signup {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  margin: 0px auto;
  background: white;
}

input {
  font-size: 1.2rem;
  font-family: 'Nunito Sans', sans-serif;
  border: 0px;
  padding: 10px;
  background-color: #efefef;
  border-radius: 5px;
}

a {
  color: #EE0000;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  /* font-size: 0.8em; */
}

a:hover {
  text-decoration: underline;
}

pre {
  font-size: 100%;
  line-height: 120%;
  margin-top: 0.5em;
}

header {
  margin-top: 3rem;
}

footer {
  font-size: 0.8rem;
  padding: 20px 0px;
  margin-top: 2rem;
  width: 100%;
  background-color: #c80000;
  color: white;
}

footer a {
  color: white;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  #mc_embed_signup {
    width: 80%;
    min-width: 350px;

  }

  .left {
    margin: 0px auto;
    padding: 0px 20px;
    min-width: 350px;
    max-width: 600px;
  }

}
